.table-history {
  display: flex;
  flex-direction: column;
  width: fit-content;
  font-size: 12px;
  box-sizing: border-box;
}

.table-history .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  border-bottom: 1px solid #eee;
}

.table-history .row.header {
  background: #f5f5f5;
  font-weight: bold;
}

.table-history .cell {
  padding: 8px 16px;
  border-right: 1px solid #eee;
}

.table-history .cell:last-child {
  border-right: none;
}

.table-history .row.total {
  background-color: #f9f9f9;
  border-top: 2px solid #ccc;
}

.mobile-choices-buttons {
  display: none !important;
}
.search-container-mobile {
  display: none !important;
}
@media (max-width: 768px) {
  .button-chips-container {
    overflow-x: auto !important;
    padding: 10px 0px;
    height: auto !important;
  }
  .header {
    flex-direction: column !important;
    row-gap: 10px;
  }
  .search-container-desktop {
    display: none !important;
  }

  .search-container-mobile {
    display: flex !important;
    width: 100%;
    flex-direction: column;
    row-gap: 10px;
    padding: 0px !important;
    margin: 0px !important;
  }

  .search-container-mobile .search-container-mobile-buttons {
    display: flex !important;
    align-items: center;
    width: 100%;
  }

  .button-action-desktop {
    display: none !important;
  }

  .custom-input {
    width: 100% !important;
    margin-bottom: 0px !important;
  }
  .custom-input label {
    width: 100px !important;
  }
  .custom-input input {
    width: calc(100% - 100px) !important;
  }

  .custom-input.adjust-label {
    width: 100% !important;
    margin-bottom: 0px !important;
    box-sizing: border-box;
    padding-right: 10px;
  }
  .custom-input.adjust-label label {
    width: 50px !important;
  }
  .custom-input.adjust-label input {
    width: calc(100% - 50px) !important;
  }
  .custom-input.adjust-label select {
    width: calc(100% - 50px) !important;
  }
  .custom-input.adjust-label-search label {
    width: 50px !important;
  }
  .custom-input.adjust-label-search input {
    width: calc(100% - 50px) !important;
  }
  .button-action-mobile {
    display: flex !important;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f1f1f1;
    justify-content: center !important;
    z-index: 9999;
    padding: 5px 0px;
  }

  .desktop-choices-buttons {
    display: none !important;
  }
  .mobile-choices-buttons {
    display: flex !important;
    align-items: center;
  }
  .container-fields {
    width: 100% !important;
    flex-direction: column;
    flex: 1;
    row-gap: 20px;
  }
  .container-fields-tpl {
    width: 100% !important;
    flex-direction: column;
    row-gap: 10px;
  }
  .container-max-width {
    width: 100% !important;
  }

  .custom-input {
    width: 100% !important;
    margin-bottom: 0px !important;
  }
  .custom-input label {
    width: 100px !important;
  }
  .custom-input input {
    width: calc(100% - 100px) !important;
  }

  .custom-input textarea {
    width: calc(100% - 100px) !important;
  }
  .custom-input select {
    width: calc(100% - 100px) !important;
  }
  .main-field-container {
    margin-bottom: 30px;
  }

  .details-content-container {
    width: 100% !important;
    box-sizing: border-box !important;
  }
  .premuim-content-container {
    width: 100% !important;
    box-sizing: border-box !important;
    flex-direction: column;
  }
  .desktop-content-premium {
    display: none !important;
  }
  .mobile-content-premium {
    display: flex !important;
  }
  .custom-select {
    width: 100% !important;
  }
  .custom-select label {
    width: 100px !important;
  }
  .custom-select select {
    width: calc(100% - 100px) !important;
  }
  .adjust-font-size {
    font-size: 12px !important;
  }

  .custom-input-adjust-label {
    width: 100% !important;
  }
  .custom-input-adjust-label label {
    width: 150px !important;
  }
  .custom-input-adjust-label input {
    width: calc(100% - 150px) !important;
  }

  .temp-to-reg-main-content {
    width: 100% !important;
  }
  .temp-to-reg-main-content .policy-details {
    flex-direction: column !important;
    row-gap: 15px !important;
  }
  .temp-to-reg-main-content .export-button{
    width: 200px !important;
  }
  .temp-to-reg-main-content .fields-content{
    grid-template-columns: repeat(1 ,1fr) !important;
    height: 170px !important;
  }
  .temp-to-reg-main-content .history-content{
    height: calc(100% - 325px) !important;
  }
  .history-container{
    overflow: auto !important;
  }
}
