.button-action-mobile {
  display: none !important;
}

@media (max-width: 768px) {
  .button-action-mobile {
    display: flex !important;
    position: fixed;
    bottom: 0;
    left: 0 !important;
    right: 0;
    background-color: #f1f1f1;
    justify-content: center !important;
    z-index: 9999;
    padding: 5px 0px;
  }

  .button-action-desktop {
    display: none !important;
  }
  .container-fields {
    width: 100% !important;
    flex-direction: column;
    row-gap: 10px;
  }
  .container-fields-custom {
    width: 100% !important;
    flex-direction: row;
    row-gap: 10px;
  }
  .container-fields-custom-client {
    width: 100% !important;
    flex-direction: column;
    row-gap: 5px;
  }
  .container-fields-grid {
    display: flex !important;
    flex-direction: column !important;
    /* grid-template-columns: repeat(20, 1fr) !important;
    border: 1px solid red; */
  }
  .clear-layout {
    margin: 0 !important;
  }
  .container-max-width {
    width: 100% !important;
  }
  .custom-input {
    width: 100% !important;
    margin-bottom: 0px !important;
  }
  .custom-input label {
    width: 100px !important;
  }
  .custom-input input {
    width: calc(100% - 100px) !important;
  }
  .custom-input textarea {
    width: calc(100% - 100px) !important;
  }

  .custom-input.custom-label label {
    width: 150px !important;
  }
  .custom-input.custom-label input {
    width: calc(100% - 150px) !important;
  }

  .clear-margin {
    margin: 0 !important;
  }
  .button-chips-container {
    overflow-x: auto !important;
    padding: 10px 0px;
    height: auto !important;
  }
  .custom-padding{
    padding-bottom: 5px;
  }
  .add-padding{
    padding-bottom: 40px;
  }
}
