

td,th {
    padding: 3px 10px !important;
    text-align: left;
    font-size: 13px;
    font-family: 'Arial Narrow';
  }
  
  table.main-table tr.headers th {
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    /* Add bottom border to all cells */
  }
  
  
  @media print {
    body {
      margin: 0;
      padding: 0;
    }
  
    .page {
      page-break-after: always;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
  }