.table-frame-color {
  padding: 5px;
  box-sizing: border-box;
  width: auto !important;
  display: inline-block;
  position: relative;
  border: 1px solid rgba(86, 85, 85, 0.731);

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.table-frame {
  border-radius: 11px;
  box-sizing: border-box;
  overflow: auto;
  border-radius: 5px;
  background-color: white;
  height: 100%;
  position: relative;

}

.table-panel {
  flex: 1;
  background-color: white;
  position: relative;

}

.table-panel-footer {
  height: 25px;
  font-size: 11px;
  font-weight: bold;
  border-bottom: 1px solid rgb(126, 125, 150);
  border-right: 1px solid rgb(126, 125, 150);
  border-left: 1px solid rgb(126, 125, 150);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0 5px;
  background-color: white;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.grid-container {
  display: inline-block;

  font-family: Arial, sans-serif;
  background-color: #F8F8FF;
  border-radius: 5px;
  position: relative;

}

/* Grid Rows */
.grid-row {
  display: flex;
  border-bottom: 1px solid #ccc;
}


/* Grid Cells */
.grid-cell {
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: auto;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.grid-cell input {
  font-size: 12px;
  height: 17px;
  padding: 0;
  margin: 0;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.grid-cell input.number {
  text-align: right !important;
}

.grid-cell input.text {
  text-align: left !important;
}

.grid-cell input.selected-row {
  background-color: rgb(21, 21, 189);
  color: white;
}

.grid-cell input.selected-items {
  background-color: rgba(20, 104, 189, 0.116);
  color: rgb(26, 25, 25);
}

.grid-cell input.selected-row.selected-items {
  background-color: rgba(128, 179, 238, 0.671);
  color: rgb(26, 25, 25);
}

.grid-cell input:focus {
  outline: 2px solid #007bff;
  border-color: #007bff;
  border-radius: 5px;
}


.grid-cell:last-child {
  border-right: none;
}

/* Resize handle in every cell */
.resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  background-color: transparent;
}

.resize-handle:hover {
  background-color: #2389f7;
}

.highlight-column {
  border-right: 2px solid #007bff !important;
}

.table-frame-color {
  position: relative;
}

.table-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(81, 80, 80, 0.157);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}