.data-table{
    height: auto;
    width: 100%;
    position: relative;
    padding: 20px;
}
.data-table tr{
    border-top: 1px solid red;
}
.data-table thead  {
    border-bottom: 1px solid black;
    cursor: pointer;
}
.data-table thead tr {
    text-align: left;
}
.data-table thead tr th {
    padding: 5px 10px;
}
.data-table tbody tr{
   background-color: white;
   cursor: pointer;
}
.data-table tbody tr td{
    padding: 5px 10px;
 }
.data-table tbody tr:hover{
    background-color: rgb(172, 173, 173);
}