.modal-parent{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(204, 199, 199, 0.26);
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-parent .modal-content{
    width: 500px;
    height: 540px;
    background-color: white;
    margin: auto;
    background-color: #fefffa;
    box-shadow: 2px 0px 9px -3px rgba(0,0,0,0.75);
    padding: 20px;
    padding-top: 50px;
    box-sizing: border-box;
    position: relative;
}
.modal-parent .modal-content .close-modal{
    background-color: transparent;
    position: absolute;
    right:-5px;
    top: -5px;
    /* border-color: rgb(41, 41, 40); */
}